<section class="p-4 bg-light mt-5">
    <div class="shadow-sm rounded p-5 bg-white">
        <div class="container">
        <div class="row">
        <div class="col-md-6">
            <h2 class="font-weight-bold">Sign Up</h2>
            <div class="py-3">
                <div class="form-group">
                    <i class="fa fa-user"></i>                 
                    <input class="form-control" type="text" placeholder="Your Name">
                </div>
                <div class="form-group">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control" type="email" placeholder="Your Email">
                </div>
                <div class="form-group">
                    <i class="fa fa-unlock"></i>
                    <input class="form-control" type="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <i class="fa fa-lock"></i>
                    <input class="form-control" type="password" placeholder="Repeating Password">
                </div>
                <div class="form-group">
                    <i class="fa fa-phone"></i>
                    <input class="form-control" type="number" placeholder="Phone">
                </div>
                <div class="form-group">
                    <i class="fa fa-home"></i>
                    <input class="form-control" type="text" placeholder="City">
                </div>
                <button class="btn btn-primary">Register</button>
            </div>
        </div>
        <div class="col-md-5 offset-1 d-flex align-items-center">
            <img class="img-fluid" src="../../assets/images/signup-image.jpg" alt="">
        </div>
    </div>
</div>
    </div>
</section>