section
{
    background: linear-gradient(#B4D8D8,#12739E);
}
input
{
    background-color: rgb(216, 216, 216) !important;
    transition: .5s;
}
input:focus
{
    width: 85% !important;
}
input::placeholder
{
    text-align: center;
    color: #555;
}
img
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #F8F9FA;
    box-shadow: 1px 1px 5px inset #F8F9FA;
    padding: 5px;
}
